<h2>My Heroes</h2>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<ul class="heroes">
	<td>
	<tr *ngFor="let hero of heroes">
		<th> 
			<a routerLink="/detail/{{hero.id}}">		
				<span class="badge">{{hero.id}} </span>{{hero.name}}
			</a>
		</th>
		<th>
			<button class="delete" title="delete hero" 
				(click)="delete(hero)">x</button>
		</th>		
	</tr>
	<td>
</ul>
